<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="firstName">
	<f:translate key="tx_t3petclinic_domain_model_owner.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_t3petclinic_domain_model_owner.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="address">
	<f:translate key="tx_t3petclinic_domain_model_owner.address" />
</label><br />
	<f:form.textfield property="address" /><br />
<label for="city">
	<f:translate key="tx_t3petclinic_domain_model_owner.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="telephone">
	<f:translate key="tx_t3petclinic_domain_model_owner.telephone" />
</label><br />
	<f:form.textfield property="telephone" /><br />
</html>