<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:t3sb="http://typo3.org/ns/T3SBS/T3sbootstrap/ViewHelpers" data-namespace-typo3-fluid="true">
		<t3sb:media file="{file}" title="{file.title}" alt="{file.alternative}" class="{addmedia.imgclass}" width="{width}" height="{height}" breakpoints="{
			0: {'cropVariant': 'default', 'media': '(min-width: 1200px)', 'srcset': '576, 768, 992, 1200'},
			1: {'cropVariant': 'tablet', 'media': '(min-width: 576px)', 'srcset': '576, 768, 992, 1200'},
			2: {'cropVariant': 'mobile', 'media': '(max-width: 575px)', 'srcset': '576, 768, 992, 1200'}
		}" picturefill="false" />
</html>
