<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-group">
	<label for="pageTitle" class="col-sm-3 control-label">
		Page Title (h1)
	</label>
	<div class="col-sm-9">
		<f:form.select
			id="pageTitle"
			class="form-control"
			property="pageTitle"
			options="{pageTitleOptions}"
			optionValueField="key"
			optionLabelField="value"
		/>
	</div>
</div>
<div class="form-group">
	<label for="pageTitlealign" class="col-sm-3 control-label">
		Page Title Alignment
	</label>
	<div class="col-sm-9">
		<f:form.select
			id="pageTitlealign"
			class="form-control"
			property="pageTitlealign"
			options="{pageTitlealignOptions}"
			optionValueField="key"
			optionLabelField="value"
		/>
	</div>
</div>
</html>