<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="row content-row">
		<aside class="col-md-{config.general.smallColumn}">
			<f:if condition="{config.sidebar.left}">
				<f:render partial="Page/{config.sidebar.left}" arguments="{subNavigation: subNavigation, sectionMenu: sectionMenu}" />
			</f:if>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}"/>
		</aside>
		<main class="col-md-{f:if(condition:'{config.general.smallColumn} == 3',then:'6',else:'8')} main-content">
			<f:if condition="{config.general.pageTitle} == 'content'">
				<f:render partial="Page/Title" arguments="{title: data.title, align: config.general.pageTitlealign}" />
			</f:if>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
		</main>
		<aside class="col-md-{config.general.smallColumn}">
			<f:if condition="{config.sidebar.right}">
				<f:render partial="Page/{config.sidebar.right}" arguments="{subNavigation: subNavigation, sectionMenu: sectionMenu}" />
			</f:if>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/>
		</aside>
	</div>
</html>