<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
{f:if(condition:'{class}',then:'<div class="{class}">')}
<f:switch expression="{appearance}">
	<f:case value="accordion">
		<div id="accordion-{data.uid}" role="tablist">
			{data.tx_gridelements_view_columns.0 -> f:format.raw()}
		</div>
	</f:case>
	<f:case value="button">
		{data.tx_gridelements_view_columns.0 -> f:format.raw()}
	</f:case>
</f:switch>
{f:if(condition:'{class}',then:'</div>')}
</f:section>
</html>